html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightblue;
}

p {
  color: purple;
  size: 50px;
}

h1 {
  text-align: center;
  
}

h2 {
  text-align: center;
  size: 20px;
  color: blue;
}